@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

a {
  @apply no-underline;
}

.container-max {
  @apply mx-auto max-w-6xl px-4 md:px-8;
}
